USE [master]
GO
/****** Object:  Database [Practica3]    Script Date: 10/03/2020 07:39:55 p. m. ******/
CREATE DATABASE [Practica3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Practica3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica3]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 10/03/2020 07:39:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[vNombre] [varchar](50) NULL,
	[iIdEmpleado] [int] NOT NULL,
	[vSeccion] [varchar](50) NULL,
	[fSueldo] [float] NULL,
	[cSexo] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mercancia]    Script Date: 10/03/2020 07:39:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mercancia](
	[vSucursal] [varchar](50) NULL,
	[iProductosRecibidos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iProductosRecibidos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operaciones]    Script Date: 10/03/2020 07:39:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operaciones](
	[iNumerodeCajeros] [int] NULL,
	[iNumerodeCajas] [int] NOT NULL,
	[fPrecio] [float] NULL,
	[iConsumoInterno] [int] NULL,
	[iReciboMercancia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iNumerodeCajas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 10/03/2020 07:39:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[vTipo] [varchar](50) NULL,
	[iCantidad] [int] NOT NULL,
	[vMarcha] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iCantidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 10/03/2020 07:39:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[iIdEmpleado] [int] NULL,
	[iNumerodeCaja] [int] NULL,
	[dFecha] [date] NULL,
	[iIdTicket] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [unique_empleado]    Script Date: 10/03/2020 07:39:56 p. m. ******/
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [unique_empleado] UNIQUE NONCLUSTERED 
(
	[iIdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [unique_ticket]    Script Date: 10/03/2020 07:39:56 p. m. ******/
ALTER TABLE [dbo].[Ticket] ADD  CONSTRAINT [unique_ticket] UNIQUE NONCLUSTERED 
(
	[iIdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [fk_Productos] FOREIGN KEY([iCantidad])
REFERENCES [dbo].[Mercancia] ([iProductosRecibidos])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [fk_Productos]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_Ticket] FOREIGN KEY([iIdEmpleado])
REFERENCES [dbo].[Empleados] ([iIdEmpleado])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_Ticket]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [fk_TicketCliente] FOREIGN KEY([iNumerodeCaja])
REFERENCES [dbo].[Operaciones] ([iNumerodeCajas])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [fk_TicketCliente]
GO
USE [master]
GO
